/*
  title: base css
  author: maximilian schoening (@resetability)
*/

body {
  font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

a:link, a:visited {
  color: #1c4fad;
  text-decoration: none;
}

/* section: 1140
---------------------------------------------- */
.container {
  margin: 50px 0;
}
/* ------------------------------------------- */

/* section: header
---------------------------------------------- */
#header {
  font-size: 1.1em;
  margin-bottom: 3.6em;
}

#header h1 a {
  background: url("../../images/logo.png") center no-repeat;
  display: block;
  height: 30px;
  text-indent: -99999px;
  width: 170px;
}

#header nav ul {
  float: right;
  list-style: none;
}

#header nav ul li {
  color: #666;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin: 0 3em 0 0;
}

#header nav ul li.disabled {
  color: #e5e5e5;
}

#header nav ul li a:link, header nav ul li a:visited {
  color: #444;
}

#header nav ul li a:hover, header nav ul li a:active {
  color: #888;
}
/* ------------------------------------------- */

/* section: quicknav
---------------------------------------------- */
#quicknav {
  display: none;
}
/* ------------------------------------------- */

/* section: sidebar
---------------------------------------------- */
#sidebar .categories h3 {
  font-size: 1.1em;
  margin: 0 0 .75em 0;
  text-transform: uppercase;
}

#sidebar .categories ul {
  list-style: none;
  margin: 0 0 1.8em;
}

#sidebar .categories ul li {
  color: #999;
  font-weight: bold;
  margin: 0 0 .8em 0;
}

#sidebar .categories ul li:last-child {
  margin: 0;
}

#sidebar .categories ul li a:link, #sidebar .categories ul li a:visited {
  font-weight: normal;
}
/* ------------------------------------------- */

/* section: footer
---------------------------------------------- */
#footer {
  border-top: 4px double #e5e5e5;
  font-size: .9em;
  margin-top: 3.6em;
  padding: 1em 0 0 0;
}

#footer ul li {
  border-right: 1px solid #e5e5e5;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0 1em 0 0;
}

#footer ul li:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}

#footer ul li.disabled {
  color: #e5e5e5;
}

#footer ul li a:link, footer ul li a:visited {
  color: #2c2c2c;
  font-weight: bold;
}

#footer ul li a:hover, footer ul li a:active {
  color: #8b8b8b;
}
/* ------------------------------------------- */

/* section: iPad
---------------------------------------------- */
@media only screen and (device-width: 768px) {

}
/* ------------------------------------------- */

/* section: iPhone
---------------------------------------------- */
@media handheld, only screen and (max-width: 767px) {
  #header {
    margin-bottom: 1.8em;
  }

  #header h1 a {
    margin: 0 auto;
  }

  #header nav {
    display: none;
  }

  #quicknav {
    display: block;
    margin-bottom: 1.8em;
  }

  aside {
    display: none;
  }

  #footer {
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #header h1 a {
    background-image: url("../../images/logo_2x.png");
    background-size: 170px 30px;
  }
}
/* ------------------------------------------- */

/* section: Deprecated API
---------------------------------------------- */
h3.deprecated {
  color: red
}
/* ------------------------------------------- */
