/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/styles.scss */
body {
  color: #2C2C2C;
  font: 13px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

/* line 17, ../sass/styles.scss */
a:link,
a:visited {
  color: #1c4fad;
  text-decoration: none;
}

/* line 24, ../sass/styles.scss */
.container {
  *zoom: 1;
  max-width: 58em;
  _width: 58em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 38, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/styles.scss */
header,
footer {
  margin: 1.384615385em 0;
}

/* line 33, ../sass/styles.scss */
.logo {
  width: 22.41379%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}

/* line 37, ../sass/styles.scss */
.main-navigation {
  width: 74.13793%;
  float: right;
  margin-right: 0;
  #margin-left: -2em;
  display: inline;
}
/* line 40, ../sass/styles.scss */
.main-navigation ul {
  text-align: right;
}
/* line 43, ../sass/styles.scss */
.main-navigation ul li {
  display: inline-block;
  margin-left: 2em;
}

/* line 51, ../sass/styles.scss */
.faqs .container {
  margin-bottom: 2.461538462em;
}
/* line 54, ../sass/styles.scss */
.faqs .container:first-child {
  margin-top: 2.461538462em;
}
/* line 59, ../sass/styles.scss */
.faqs dl {
  width: 48.27586%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 173, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/susy-1.0/sass/susy/_grid.scss */
.faqs dl:nth-child(2n) {
  float: right;
  margin-right: 0;
  #margin-left: -2em;
  display: inline;
}

/* line 65, ../sass/styles.scss */
.sitemap {
  width: 82.75862%;
  float: left;
  margin-right: 3.44828%;
  display: inline;
}
/* line 68, ../sass/styles.scss */
.sitemap li {
  display: inline-block;
  margin-right: 2em;
}

/* line 74, ../sass/styles.scss */
.social-media {
  width: 13.7931%;
  float: right;
  margin-right: 0;
  #margin-left: -2em;
  display: inline;
  text-align: right;
}

/* line 82, ../sass/styles.scss */
.main-navigation li, footer li {
  color: #666;
}
/* line 85, ../sass/styles.scss */
.main-navigation li.disabled, footer li.disabled {
  color: #E5E5E5;
}
/* line 90, ../sass/styles.scss */
.main-navigation li a:link, footer li a:link,
.main-navigation li a:visited,
footer li a:visited {
  color: #444;
}
/* line 94, ../sass/styles.scss */
.main-navigation li a:hover, footer li a:hover, .main-navigation li a:active, footer li a:active {
  color: #888;
}

/* line 102, ../sass/styles.scss */
.logo a {
  display: block;
  height: 30px;
  width: 170px;
  background: url("../../images/logo.png") center no-repeat;
  text-indent: -99999px;
}

/* line 114, ../sass/styles.scss */
.main-navigation li {
  font-weight: bold;
  line-height: 30px;
}

/* line 120, ../sass/styles.scss */
.page-header {
  font-size: 1.384615385em;
  line-height: 2em;
}

/* line 126, ../sass/styles.scss */
.faqs dt {
  font-size: 1.230769231em;
  margin-bottom: 1em;
}

/* line 133, ../sass/styles.scss */
.support h2 {
  margin: 2.461538462em 0;
  font-size: 1.384615385em;
  line-height: 2em;
  text-align: center;
}
/* line 141, ../sass/styles.scss */
.support ul {
  margin: 2.461538462em;
  text-align: center;
}
/* line 146, ../sass/styles.scss */
.support ul li {
  display: inline-block;
  margin-right: 2em;
  width: 40%;
}
/* line 152, ../sass/styles.scss */
.support ul li a:link,
.support ul li a:visited {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #E5E5E5;
  color: #6A6A6A;
  font-size: 14px;
  font-weight: bold;
  padding: 1em 2em;
}

/* line 166, ../sass/styles.scss */
footer {
  border-top: 4px double #E5E5E5;
  padding-top: 1em;
}
