/*
  title: wikistyle css
  author: maximilian schoening (@resetability)
*/

.wikistyle {
  background: #fff;
  color: #444;
  font-size: 1em;
}

/* section: headers
---------------------------------------------- */
.wikistyle h1 {
  color: #333;
  font-size: 1.6em;
  font-weight: normal;
  margin: 0 0 .75em 0;
}

.wikistyle h2 {
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-size: 1.4em;
  font-weight: normal;
  margin: .75em 0;
  padding: 0 0 .25em 0;
}

.wikistyle h3 {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
  margin: .75em 0;
}
/* ------------------------------------------- */

/* section: links
---------------------------------------------- */
.wikistyle a:link, .wikistyle a:visited {
  border-bottom: 1px dotted #1c4fad;
  color: #1c4fad;
}
/* ------------------------------------------- */

/* section: paragraphs
---------------------------------------------- */
.wikistyle p {
  line-height: 2em;
  margin: 0 0 1.8em 0;
}

.wikistyle p:last-child {
  margin: 0;
}

.wikistyle p sup {
  font-size: .8em;
  vertical-align: super;
}

.wikistyle p sup a:link, .wikistyle p sup a:visited {
  border: 0;
}
/* ------------------------------------------- */

/* section: lists
---------------------------------------------- */
.wikistyle ul, .wikistyle ol {
  margin: 0 0 1.8em 0;
  padding: 0 0 0 3em;
}

.wikistyle ul:last-child, .wikistyle ol:last-child {
  margin: 0;
}

.wikistyle ul li, .wikistyle ol li {
  line-height: 1.4em;
  margin: 0 0 .8em 0;
}

.wikistyle ul li:last-child, .wikistyle ol li:last-child {
  margin: 0;
}

  /* section: index
  ---------------------------------------------- */
  .wikistyle ul.index {
    list-style: none;
    padding: 0 0 0 1.25em;
  }

  .wikistyle ul.index li {
    background: url("../../images/wikistyle/index_li_bullet.png") left center no-repeat;
    padding: 0 0 0 2em;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .wikistyle ul.index li {
      background-image: url("../../images/wikistyle/index_li_bullet_2x.png");
      background-size: 15px;
    }
  }

  .wikistyle ul.index li a:link, .wikistyle ul.index li a:visited {
    font-weight: bold;
  }
  /* ------------------------------------------- */
/* ------------------------------------------- */

/* section: definition lists
---------------------------------------------- */
.wikistyle dl {
  margin: 0 0 1.8em 0;
}

.wikistyle dl:last-child {
  margin: 0;
}

.wikistyle dl dt {
  font-weight: bold;
  margin: 0 0 .8em 0;
}

.wikistyle dl dd {
  font-style: italic;
}

  /* section: keys
  ---------------------------------------------- */
  .wikistyle dl.keys dt {
    background: #e5e5e5;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #7e7e7e;
    display: inline;
    font-weight: normal;
    padding: .5% 1.5%;
    margin: 0 .5em 0 0;
  }

  .wikistyle dl.keys dd {
    display: inline;
  }
  /* ------------------------------------------- */
/* ------------------------------------------- */

/* section: code
---------------------------------------------- */
.wikistyle code {
  background: #f0f6fc;
  border: 1px solid #d2dce6;
  color: #444;
  font-family: Monaco, monospace;
  font-size: .9em;
  padding: .1em .3em;
}

.wikistyle pre {
  background: #f0f6fc;
  border: 1px solid #d2dce6;
  margin: 0 0 1.8em 0;
  overflow-y: auto;
  padding: 1em;
}

.wikistyle pre:last-child {
  margin: 0;
}

.wikistyle pre code {
  background: transparent;
  border: 0;
  display: block;
  line-height: 1.8em;
  padding: 0;
}

  /* section: shell
  ---------------------------------------------- */
  .wikistyle pre.shell {
    background: #e5e5e5;
    border: 1px solid #ccc;
  }
  /* ------------------------------------------- */
/* ------------------------------------------- */

/* section: quotes
---------------------------------------------- */
.wikistyle blockquote {
  border-left: 3px solid #e5e5e5;
  margin: 0 0 1.8em;
  padding: 0 0 0 1.8em;
}

.wikistyle blockquote:last-child {
  margin: 0;
}

.wikistyle blockquote p {
  color: #666;
  font-family: "Helvetica Neue";
  font-size: .9em;
}
/* ------------------------------------------- */

/* section: footnotes
---------------------------------------------- */
.wikistyle .footnotes {
  color: #999;
  font-size: .8em;
  margin: 5.4em 0 0 0;
}

.wikistyle .footnotes hr {
  background: #e5e5e5;
  border: 0;
  height: 1px;
  margin: 0 0 1.8em 0;
}

.wikistyle .footnotes ol {
  margin: 0;
  padding: 0 0 0 2em;
}

.wikistyle .footnotes ol li {
  margin: 0;
}

.wikistyle .footnotes ol li p {
  display: inline;
  margin: 0;
}

.wikistyle .footnotes ol li a:link, .wikistyle .footnotes ol li a:visited {
  border: 0;
  display: inline;
}
/* ------------------------------------------- */
