<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>CloudApp Help{% if page.title %} - {{ page.title }}{% endif %}</title>

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = no" name="viewport">

    <link href="../stylesheets/styles.css" rel="stylesheet">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-13203564-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <header class="container">
      <h1 class="logo"><a href="/">CloudApp Help</a></h1>

      <nav class="main-navigation">
        <ul>
          <li><a href="http://getcloudapp.com/">Application</a></li>
          <li><a href="http://store.getcloudapp.com/">Store</a></li>
          <li><a href="http://blog.getcloudapp.com/">Blog</a></li>
          <li><a href="http://support.getcloudapp.com/">Support</a></li>
          <li><a href="http://my.cl.ly/">Login</a></li>
        </ul>
      </nav>
    </header>

    {{ content }}

    <footer class="container">
      <ul class="sitemap">
        <li>&copy; 2011 Linebreak S.L.</li>
        <li>Powered by <a href="http://heroku.com/">Heroku</a></li>
        <li><a href="http://support.getcloudapp.com/customer/portal/articles/208767-contact">Contact</a></li>
        <li><a href="http://support.getcloudapp.com/customer/portal/articles/208750-terms-of-service">Terms</a></li>
        <li><a href="http://support.getcloudapp.com/customer/portal/articles/208761-privacy-policy">Privacy</a></li>
        <li><a href="http://developer.getcloudapp.com">Developer</a></li>
      </ul>

      <ul class="social-media">
        <li><a href='http://www.twitter.com/cloudapp'>Twitter</a></li>
      </ul>
    </footer>
  </body>
</html>
